DB_NAME=eventbooking
DB_USER=eventbooking
DB_PASSWORD=changeme

BOOKING_DB_NAME=bookingservice
BOOKING_DB_USER=bookingservice
BOOKING_DB_PASSWORD=changeme2

MONGO_USER=searchservice
MONGO_PASSWORD=changeme3

NOTIFICATION_DB_NAME=notificationservice
NOTIFICATION_DB_USER=notificationservice
NOTIFICATION_DB_PASSWORD=changeme4